PyYAML==5.3.*
wget==3.2
pandas==1.0.*
scikit-learn==0.23.1
torch==1.4.0
scipy==1.5.*
tensorboard==2.0.2
fairseq==0.9.*
transformers==2.10
pytorch-lightning==0.8.4
pytorch-nlp==0.5.0
Cython==0.29.15
fastBPE==0.1.0
pycld2==0.41
sphinx-markdown-tables==0.0.15